@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --light: #e5e5e5;
  --dark: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  min-height: 200vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

nav.sticky {
  padding: 20px 100px;
  background: var(--light);
}

header .title {
  position: relative;
  font-weight: 900;
  color: var(--dark);
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  text-align: center;
  padding: 0;
}

header ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

header ul li {
  position: relative;
  list-style: none;
  white-space: nowrap;
}

.headerButton {
  position: relative;
  text-decoration: none;
  color: var(--dark);
  padding: 25px;
  padding-left: 36px;
  padding-right: 36px;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.headerButton:hover {
  background: var(--dark);
  color: var(--light);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(images/homeImage.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

nav.sticky .headerButton,
nav.sticky .title {
  color: var(--dark);
}

nav.sticky .headerButton:hover {
  color: var(--light);
}

.leftHeader {
  position: relative;
  display: flex;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  color: var(--light);
  /* opacity: 0; */
  transition: 0.6s;
}

.bodyText {
  max-width: min(650px, 75%);
  line-height: 1.5em;
  margin: 25px;
  text-align: center;
}

.mainProfile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: max(175px, 13%);
  color: var(--light);
}

.mainProfile img {
  border-radius: 50%;
  width: min(225px, 40%);
  height: min(225px, auto);
}

.mainProfile h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 25px;
  text-align: center;
}

.grid {
  max-width: min(90%, 1350px);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.skillsGrid {
  max-width: min(90%, 1000px);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.smallBox {
  height: 275px;
  width: 400px;
  padding: 25px;
  background-color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 25px;
}

.skillBox {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.subtitle {
  color: var(--dark);
  text-align: center;
}

.boxText {
  max-width: 650px;
  line-height: 1.5em;
  color: var(--dark);
  text-align: center;
  margin-top: 15px;
}

.smallLogo {
  margin-bottom: 15px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.slideButton {
  cursor: pointer;
  padding: 16px;
  color: var(--light);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-left: 24px;
  margin-right: 24px;
}

.prev:hover,
.next:hover {
  opacity: 0.75;
}

.project {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectImage {
  height: 350px;
  width: auto;
  margin: 25px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.imageGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 8px;
}

.title {
  color: var(--light);
  font-size: 2em;
  padding-left: 16px;
  padding-right: 16px;
}

.projectTitle {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: -15px;
  margin-top: 10px;
}

footer ul {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

footer ul li {
  list-style: none;
}

.socialPhoto {
  height: 32px;
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark);
}

@media only screen and (max-width: 1400px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 4.25rem;
    flex-direction: column;
    background-color: var(--light);
    width: 25%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
  }

  .nav-menu.active {
    right: 0;
  }

  header ul li {
    padding: 25px;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mainProfile h1 {
    font-size: 1.5em;
  }
}
